# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.tactics.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\hdd_docs\computer\tactics\.idea\.idea.tactics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
